<footer>
    <div>
        <img class="conker" ngSrc="assets/img/footer_conker.webp" alt="Ardilla llamada Conker con ropa deportiva fumando"
            height="124" width="100" priority="low">
    </div>
    <div class="main-text">Santiago Esteban Alarcón Lagos | 2024 Bogota D.C</div>
    <a href="https://www.linkedin.com/in/seal-23/" target="_blank" rel="noopener noreferrer">
        <img class="linkedin" ngSrc="assets/img/linkedin.svg" alt="Linkedin de santiago" height="32"
            width="32" priority="low">
    </a>
    <a href="https://github.com/Seal-23" target="_blank" rel="noopener noreferrer">
        <img class="github" ngSrc="assets/img/github.svg" alt="Github de santiago" height="32"
            width="32" priority="low">
    </a>
</footer>